<header class="top_header">
  <nav class="navbar navbar-default">
      <div class="container-fluid">
          <div class="navbar-header">
              <div class="pull-right hide_collapsible_btn">
                  <label for="" class="my_universe_text">My Universe</label>
                  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                      aria-expanded="false" aria-controls="navbar">
                      <span class="sr-only">Toggle navigation</span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                  </button>
              </div>
              <a class="navbar-brand" href="#"><img src="../../assets/logo.jpg" class="img-responsive" alt="Aditya Birla Capital"></a>
          </div>
          <div id="navbar" class="navbar-collapse collapse">
              <ul class="nav navbar-nav">
                  <li><a href="#">Home</a></li>
                  <li><a href="#">About</a></li>
                  <li><a href="#">Contact</a></li>
              </ul>
          </div>
      </div>
  </nav>
</header>
