.container {
    padding: 0;
}

.content_wrapper {
    color: #000;
    padding: 25px 15px;
}

.content_wrapper h3 {
    font-weight: 500;
    margin-bottom: 10px;
    margin-top: 0;
}

.content_wrapper h4 {
    font-size: 22px;
    font-weight: normal;
    margin-bottom: 30px;
}

.content_wrapper p {
    color: #888888;
    font-size: 20px;
    font-weight: 100;
    margin-bottom: 30px;
}
